# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables file
.env

# Node.js dependencies
node_modules/

# Build directories
dist/
dist-ssr/

# Local files (machine-specific)
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# System files
.DS_Store

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
