/* ProduitsCard.css */
.product-card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 100%;
	max-width: 300px;
	margin: auto;
}

.product-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.product-card__header {
	position: relative;
}

.product-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-bottom: 2px solid #f0f0f0;
	border-radius: 5px;
}

.product-card__image--placeholder {
	align-items: center;
	background-color: #f0f0f0;
	color: #999;
}

.product-card .product-info {
	padding: 1rem;
}

.product-card h3 {
	display: flex;
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.product-card h3,
.product-card p,
.product-card__description,
.product-card__skin-type,
/* .product-card .price, */
	.product-card__volume {
	margin-left: 0.5rem;
}
.product-card p {

	font-size: 1rem;
	color: #666;
	margin-bottom: 1rem;
}

.product-card__description {
	display: flex;

	color: #666;
}

.product-card__skin-type {
	display: flex;
	color: #666;
}

.product-card .price {
	font-size: 1.1rem;
	font-weight: 700;
	color: #333;
}
.product-card__volume {
	font-size: 0.9rem;
	color: #333;
	/* // ne s'afffiche pas  */
}

.product-card__buttons {
	display: flex;
	gap: 0.5rem;
	padding: 1rem;
	border-top: 1px solid #eee;
}

.product-card__button {
	flex: 1;
	padding: 0.5;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
	transition: background-color 0.3s, background-color 0.3s;
}

.product-card .btn-container button:hover {
	background-color: #555;
}
.product-card__edit-button {
	background-color: #ffb347;
	color: #fff;
}

.product-card__edit-button:hover {
	background-color: #483819;
	transform: translateY(-2px);
}

.product-card__delete-button {
	background-color: #e74c3c;
	color: #fff;
}

.product-card__delete-button:hover {
	background-color: #c82333;
	transform: translateY(-2px);
}
@media (max-width: 768px) {
	.product-card {
		max-width: 100%;
	}

	.product-card__image {
		height: 200px;
	}

	.product-card__name {
		font-size: 1.2rem;
	}

	.product-card__description,
	.product-card__details,
	.product-card__skin-type,
	.product-card__rating {
		font-size: 0.9rem;
	}

	.product-card__button {
		padding: 0.5rem 1rem;
		font-size: 0.9rem;
	}
}

/* couleur et css produit description à fixer, à améliorer   */
